* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 16px;
  min-height: 1280px;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

h3 {
  font-weight: 700;
}

a,
a:visited,
a:hover {
  color: teal;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

#intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#intro h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0.25em;
}

#intro p {
  font-size: 1.25em;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#scrolly {
  position: relative;
  background-color: #f3f3f3;
  /*padding: 1rem;*/
}

article {
  position: relative;
  padding: 0;
  max-width: 30rem;
  margin: 0 0 0 5em;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #8a8a8a;
  z-index: 0;
}

#map {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.marker {
  &::after {
    content: url('../images/map-marker.svg');
    display: block;
    height: 1em;
    width: 1em;
  }
}

#masthead {
  right: 0;
  position: absolute;
  z-index: 11;
  padding: 1em;
}

#masthead h3 {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  background-color: black;
  padding: 3px 6px;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step {
  margin: 0 auto 2rem auto;
  color: #fff;
  background: transparent;
  margin-bottom: 60vh;
}

.step:last-child {
  margin-bottom: 0;
  padding-bottom: 2em;
}

.step.is-active h2 {
  background-color: #000000;
  color: #ffffff;
}

.step h2 {
  padding: 1em;
  font-size: 1.25em;
  background-color: #fff;
  color: #000000;
}

.step img {
  display: block;
  width: 100%;
  height: auto;
}

.step .description, .step .info_div {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  color: #000000;
  padding: 1em;
  font-size: 1em;
}

.step .info_div {
  padding-bottom: 0;
  display: flex;
}

.step .description {
  padding-top: .5em;
}

.step .description p {
  margin-bottom: 1em;
}

.step .description p:last-child {
  margin-bottom: 0;
}

.step .info-holder {
  margin-bottom: 0;
  width: 66%;
  float: left;
}

.step .info-holder p {
  padding-bottom: .15em;
  margin-bottom: .15em;
}

.step .info-holder p:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.step .svg-holder {
  width: 33%;
  float: right;
}

/* alt treatment for image with header over top.*/

.step .alt-media {
 position: relative;
}

.step .alt-media .header-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0,0,0,0.1);
}

.step .alt-media .header-holder h2 {
  background: transparent;
  color: #000;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

svg {
  display:block;
  margin:auto;
  width: 100%;
}

#outro {
  padding-top: 2em;
  background-color: #81816a;
}

#outro .step .description {
  padding-top: 1em;
}

/* mobile breakpoint */

@media (max-width: 767.98px) {

  article {
    max-width: 25rem;
    margin: 0 0 0 2em;
  }

}

@media (max-width: 575.98px) {

  article {
    max-width: 100%;
    margin: 0 1em;
  }

}
